@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/*---アコーディオンメニュー---*/
.accordion {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    max-width: 500px;
    position: absolute;
    top: 45px;
    right: 0px;
}

/* .accordion-container {
    overflow: hidden;
}

.accordion-item {
    float: left;
}  */

.accordion-title {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 50px;
}

.accordion-content {
    display: none;
    padding: 10px 20px;
    background-color: #fff;
}

.accordion-content li {
    font-size: 13px;
    line-height: 1.5;
    padding: 20px 60px;
}

.accordion-container {
    display: flex;
    align-items: center;
}

/* タイトルの背景色 */
.accordion-item:nth-of-type(1) .accordion-title {
    background-color: #186AC9;
}

/* コンテンツボックスの枠線 */
.accordion-item:nth-of-type(1) .accordion-content {
    border-bottom: 2px solid #186AC9;
    border-left: 2px solid #186AC9;
    border-right: 2px solid #186AC9;
    position: absolute;
    right: 0;
    bottom: -202px;
}

/* 矢印 */
.accordion-title {
    position: relative;
}

.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 5%;
    top: 38%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
}
