@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
    height: 116px;
    display: flex;
    align-items: center;
}

#head {
    padding: 38px 35px 35px 35px;
}


/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

/*---アコーディオンメニュー---*/
.accordion {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    position: absolute;
    top: 0%;
    right: 0px;
}

/* .accordion-container {
    overflow: hidden;
}

.accordion-item {
    float: left;
}  */

.accordion-title {
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    font-family: "メイリオ";
    font-weight: bold;
    padding: 10px 90px;
}

.accordion-content {
    display: none;
    background-color: #fff;
    width: 400px;
}

.accordion-content li {
    font-size: 32px;
    line-height: 1.5;
    padding: 36px 20px;
    text-align: center;
}

.accordion-content li:hover {
    color: #fff;
    background-color: #253178;
    /*ホバーした時に白くなってほしい…*/
}


.accordion-container {
    display: flex;
    align-items: center;
    height: 116px;
    padding: 3px 45px;
}

/* タイトルの背景色 */
.accordion-item:nth-of-type(1) .accordion-title {
    background-color: #186AC9;
}

/* コンテンツボックスの枠線 */
.accordion-item:nth-of-type(1) .accordion-content {
    border-bottom: 2px solid #253178;
    border-top: 2px solid #253178;
    border-left: 2px solid #253178;
    border-right: 2px solid #253178;
    position: absolute;
    right: 0;
    bottom: -356px;
}

a:link,
a:visited {
    color: #727272;
}

a:hover {
    color: #fff;
}

/* 矢印 */
.accordion-title {
    position: relative;
}

.accordion-title::after {
    border-right: solid 3px #fff;
    border-top: solid 3px #fff;
    content: "";
    display: block;
    height: 17px;
    position: absolute;
    right: 9%;
    top: 14%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 17px;
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
}
